div.navbar

  div.navbar__section1
    h1 ShopX
    div.navbar__links
      a(href='/') View All 
      a(href='/top') Tops 
      a(href='/bottom') Bottoms 
      a(href='/shoes') Shoes 
    
  div.navbar__search 
    form(action="/search" method='GET')
      a(href="/")
        button.fa-solid.fa-magnifying-glass(type='submit')
      input(
        type='text'
        name='searchWord'
        placeholder='Search'
      )

  div.navbar__account
    div.navbar__account-info
      if user
        div.navbar__account-user
          div.navbar__account-item
            .navbar__account-header
              div.fa-solid.fa-circle-user
              span.navbar__user #{user.name} 
              a.checkout-button(href="/cart")
                .fa-solid.fa-cart-shopping
            div.navbar__user-buttons
              //- a(href="/users/info")
              button View Account
              a(href="/users/logout") 
                button Logout 


      else
        div.navbar__user-buttons
          a(href="/users/login")
            button Login 
          a(href="/users/register")
            button Sign Up
            






    
