extends layout

block append head 
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
  link(rel='stylesheet' href='/stylesheets/login_form.css')
  link(rel='stylesheet' href='/stylesheets/main.css')

block content

   div.main-container
      .login-container
            h1 Login
            if errors
               each error in errors
                  p(style="color:red") #{error.msg}

            form(method="POST", action="/login")
            
               div.label-control(for="email") Enter Email Address:
               input#email.input-control(name="email", type="text")
               div.label-control(for="password") Password:
               input#password.input-control(name="password", type="password")

               .button-container
                  button.button(type="submit", value="Login") Login
      .picture-container