extends layout

block append head 
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
  link(rel='stylesheet' href='/stylesheets/register_form.css')
  link(rel='stylesheet' href='/stylesheets/main.css')


block content
   div.main-container
      .register-container
            h1 Sign Up
            if errors
               each error in errors
                  p(style="color:red") #{error.msg}

            form(method="POST", action="/users/register")
            
               div.label-control(for="name") Enter Name:
               input#name.input-control(name="name", type="text")
               div.label-control(for="email") Please Enter Email Address:
               input#email.input-control(name="email", type="text")
               div.label-control(for="password") Please Enter Password:
               input#password.input-control(name="password", type="password")
               div.label-control(for="passwordConfirm") Please Confirm Password:
               input#passwordConfirm.input-control(name="passwordConfirm", type="password")


               .button-container
                  button.button(type="submit", value="register") Sign Up
      .picture-container


//- block content
//-   h1 Register User
//-   if errors
//-     each error in errors
//-       p(style="color:red") #{error.msg}
//-   form(method="POST", action="/register")
//-     #form-group-name.form-group
//-       label(for="name") Name
//-       input#name.input-control(name="name", type="text")
//-     #form-group-email.form-group
//-        label(for="email") Email
//-        input#email.input-control(name="email", type="text")
//-     #form-group-password.form-group
//-        label(for="password") Password
//-        input#password.input-control(name="password", type="password")
//-     #form-group-passwordConfirm.form-group
//-        label(for="passwordConfirm") Password Confirm
//-        input#passwordConfirm.input-control(name="passwordConfirm", type="password")
//-     #form-group-submit.form-group
//-        input.btn.btn-primary.input-control(type="submit")


