
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Inter:wght@300&family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin:0px;
  box-sizing:border-box;
  font-family: 'Montserrat';
}

textarea:focus, input:focus{
  outline: none;
}


.navbar__section1 {
  display: flex;
  flex: 1 ;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.navbar {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #EBEBEB;
}


.navbar__links {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 80%;
  flex-wrap: wrap;
  font-weight: 600;

}

.navbar__links a {
  color:#8E8E8E;
  text-decoration: none;
}

a:hover {
  color:#67D6B4;
  text-decoration:none; 
  cursor:pointer;  
}



.navbar__search {
  background-color: #F6F6F6;
  border-radius: 10px;
  padding: 12px;
  min-width:20%;
  color:#C3C3C3;
  font-size: 17px;
}



.navbar__search input[type="text"] {
  padding-left: 10px;
  border:none;
  background: transparent;
  color:#929292;
  font-size: 15px;
  background-image: url("https://www.iconsdb.com/icons/preview/gray/search-12-xxl.png");
}




button, input[type="submit"], input[type="reset"] {
	background: none;
	color: grey;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbar__account {
  border-left:2px solid #c6c6c6;
  margin: 10px 30px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

.navbar__user-buttons {
  display: flex;
  gap:20px;
}


.navbar__account .fa-solid.fa-circle-user {
  font-size: 50px;
  color:#b3b3b3;
}

.navbar__user-buttons button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background-color: #67D6B4;
  padding:10px 40px;
  border-radius: 20px;
  color:white;
  font-weight: 600;

}

.navbar__user-buttons button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



.navbar__user-buttons button:nth-child(1) {
  color:black;
  background-color: transparent;
}

.navbar__account-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-solid.fa-cart-shopping {
  font-size: 25px;
}


.navbar__account-header > {
  flex:1;
  flex-direction: row;
}

.checkout-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background-color: #f6f6f6;
  padding:10px 10px;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 15px;
  border:1px solid rgb(251, 251, 251);

}

button:visited { text-decoration: none; color:rgb(140, 140, 140); }

button:hover { text-decoration: none; color:rgb(85, 85, 85); }





.navbar__account-user {
  display: flex;
  flex-direction: row;
  gap:10px;
  
}

.navbar__user {
  font-size:18px;
  font-weight: 700;
  padding-left:10px;
  justify-self: flex-start;
  align-self: center;
  flex-direction: column;
  width:90px;

}

.navbar__account-user .navbar__user-buttons button{
  color: grey;
  background-color: transparent;
  padding:10px;
}

