
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Inter:wght@300&family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body {
  padding: 0px;
  margin:0px;
  box-sizing:border-box;
  font-family: 'Montserrat';
}

h1 {
  font-weight: 700;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left:10vh;
  margin-right:10vh;
  
}

.carousel-container {
  width:550px;
  min-height: 500px;
}



.carousel-control.left, .carousel-control.right {
  background-image:none !important;
  filter:none !important;
}

.proddetails-container {
  flex:1;
  flex-direction: row;
  padding-left: 30px;
  padding-right: 30px;

}

.price {
  background:#67D6B4;
  color: white;
  border-radius: 12px;
  align-self: center;
  justify-self: center;
  padding:10px 30px;
  font-weight: 500;
  font-size: 23px;
}

.product-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description p {
  font-size: 20px;
  font-weight: 500;
  color:#ACACAC;
}

.option-sidebyside
{
  display: flex;
  margin: 20px 0px;
  flex-wrap: true;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;
  gap:20px;
}

.options {
flex:1;

}

#size.size-option, #color.color-option {
  margin-top: 10px;
  display: flex;
  flex:1;
  justify-content: stretch;
  align-items: stretch;
  width:100%;
}

#quantity.quantity-option {
  flex:1;
  flex-direction: column;

}
 
label {
  color: grey;
  font-size: 16px;
}
select {
  margin-bottom: 30px;
  display:flex;
  padding:15px 15px;
  align-items: stretch;
  justify-content: stretch;
  flex:1;
  border-radius: 15px;
  background-color: #E6E6E6;
  font-weight: 600;
  font-size: 18px;
  border-style: none;
}

.button-container {
  margin-top: 50px;
  display:flex;
  align-self: center;
  justify-content: center;
}

.button {
  padding:20px 20px;
  border-radius: 30px;
  background:#67D6B4;
  font-weight: 600;
  font-size: 18px;
  border-style: none;
  color:white;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;}


.category {
  font-weight: 600;
  font-size: 20px;
  color:#8f8f8f;
}