
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Inter:wght@300&family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body {
  padding: 0px;
  margin:0px;
  box-sizing:border-box;
  font-family: 'Montserrat';
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 61px;
    color: #000000;
    text-align: center;
}

div.navbar {
  margin-bottom: 0px;
}

.main-container {
  background: #E8F5F3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.main-container > div {
  flex:1
}



.signup_title {
  text-align: center;
  font-weight: 700;
}

.register-container {
  flex-direction: row;
  background: #FFFFFF;
  border: 2px solid #E6E6E6;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  padding:2% 5%;
  margin: 5% 5%;
  max-width: 700px;
}

.form-label {
  margin:10px 0px;
  font-size: 18px;
  font-weight: 600;
  color: grey;
}

.form-control {
  margin-bottom: 10px !important;
}
.picture-container{
    box-sizing: border-box;
    background: url("../images/clothes_bg.jpeg");
    background-size: cover;
    flex:1;
    height: 100%;

}

.label-control{
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    color: grey;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.input-control{
  display: flex;
  margin: 20px 0px;
  flex-wrap: true;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid #C3C3C3;
    border-radius: 10px;

}

.button-container {
    display:flex;
    align-self: center;
    justify-content: center;
  }
  
.button {
    padding:20px 20px;
    color:white;
    background:#67D6B4;
    font-weight: 600;
    font-size: 18px;
    border-style: none;
    width: 60%;
    margin-top: 10%;
    border-radius: 15px;
}
  